<p>directives works!</p>
<p appColorolly color="red" border="blue">x b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>
<p appColorolly>a b c</p>

<div id="ok-button">O K</div>

<ng-template hideAfter [delay]="2000">
    <div class="element-dir">
        <p>SAMPLE TEXT</p>
    </div>
</ng-template>

<div *hideAfter="2000"class="element-dir">
    <p>SAMPLE TEXT</p>
</div>

<ng-template customValueProperty [delay]="3000" [color]="'yellow'">
    <div class="custom-element">
        element
    </div>
</ng-template>
