<h3>render2</h3>
<span>
    allows to manipulate the DOM elements without accessing the DOM directly.<br>
    it provides a layer of abstraction between the DOM element and the component code
</span>
<h3>Select form ID to update with random style:</h3>
<mat-select class='select-field' [(ngModel)]="selectedFormId">
    <mat-option *ngFor="let id of formsIds; let i=index" [value]="i">
        {{id}}
    </mat-option>
</mat-select>

<button mat-button color="primary" (click)="updateDOM()"><b>Update style</b></button>
<button mat-button color="primary" (click)="removeClass()"><b>Remove class</b></button>
<button mat-button color="primary" (click)="addClass()"><b>Add class</b></button>

<br><br><br>
<b>sq1</b>
<div #sq1 class="form">
    sq1
</div>
<br>

<b>rect1</b>
<div #rect1 class="form">
    rect1
</div>
<br>

<b>circ1</b>
<div #circ1 class="circle">
    circ1
</div>