body {
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1em;
}

.game-status-item {
  font-size: 0.6rem;
}

.game-board {
  position: relative;
  display: flex;
  width: 662px;
  height: 480px;
  border: 1px solid rgb(200, 204, 195);
}

.single-block {
  position: absolute;
  border: 1px solid darkgoldenrod;
  background-color: green;
  margin: 2.5px;
  height: 25px;
  width: 100px;
}

.user-paddle {
  position: absolute;
  width: 100px;
  height: 20px;
  border: 1px solid darkgoldenrod;
  background-color: orange;
}

.ball {
  position: absolute;
  height: 26px;
  width: 25px;
  border-radius: 100%;
  background-color: rgb(154, 47, 197);
  border: 1px solid grey;
  z-index: 1;
}

.points-span {
  font-size: 2rem;
}

.game-result-modal {
  z-index: 1;
  height: 50px;
  width: 100px; 
  background-color: aquamarine;
}

.game-status-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}