<div class="nav-bar">
  <span class="title">cookbook</span>
  <ul class="menu">
    <li>about</li>
    <li>pricing</li>
    <li>contact</li>
  </ul>
</div>

<form class="form-box">
  <h1 class="form-box-title">Welcome to css cookbook</h1>
  <p class="form-box-text">feel free to download our ready to use components and speed up your development process</p>
  <input type="e-mail" label="e-mail" id="e-mail" placeholder="e-mail" class="form-box-input">
    <input type="password" label="password" id="password" placeholder="password" class="form-box-input">
  <button class="create-account-button">create account</button>
  <div class="form-box-checkbox-div">
  <input class="form-box-checkbox" type="checkbox" name="consent" id="consent" >
      <label class="form-box-checkbox-label" for="consent">I agree to whatever you want me to agree</label>   
  </div>
 
  
</form>

