<div class="house-form" [formGroup]="houseForm">
    <h3>House info</h3>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="string" matInput formControlName="size">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input type="string" matInput formControlName="number">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Value</mat-label>
        <input type="number" matInput formControlName="value">
    </mat-form-field>
</div>