#flex-header {
    background-color: blueviolet;
    padding: 10px;
}

.flex-main-box {
    display: flex;
    padding-top: 10px;
    direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.simple-box-1 {
    background-color:aquamarine;
    border: 0.5px black solid;
    height: 100px;
    width: 200px;
    flex: 0 0 21%;
}

.simple-box-2 {
    background-color:rgb(157, 235, 93);
    border: 0.5px black dotted;
    height: 170px;
    width: 50px;
    flex: 0 0 21%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    border: 2px solid salmon;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /* align-items: center; */
}

.flex-item {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    text-align: center;   
    /* flex: 0 0 20%; */
    order: 1;
}

.flex-item-order-0 {
    background-color: aqua;
    order: 0;
}


.flex-item-order-5 {
    background-color: red; 
    order: 5;
    flex-shrink: 3; 
}


.flex-main-container-for-play {
    display: flex;
    background-color: rgb(104, 104, 104);
    border-radius: 5%;
    height: 500px;
    padding: 15px;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
}

#flex-item-for-play-1 {
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: yellow;
}

#flex-item-for-play-2 {
    margin: 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(54, 52, 182);
    /* flex-grow: 1;
    flex-basis: 0; */
}

#flex-item-for-play-3 {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: green;
    /* flex-grow: 1;    
    flex-basis: 0; */
}