<div id="flex-header">Flexbox works!</div>

<div class="flex-main-box">
    <div class="simple-box-1">x</div>
    <div class="simple-box-2">x</div>
    <div class="simple-box-1">x</div>
    <div class="simple-box-2">x</div>
    <div class="simple-box-1">x</div>
    <div class="simple-box-2">x</div>
</div>

<br>

<div class="flex-container">
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    <div class="flex-item">yyyyyyyyyyyy yyyyyyyy yyyyyyyyy yyyyyyyy</div>
    
    <div class="flex-item flex-item-order-0">x</div>
    <div class="flex-item flex-item-order-5">z</div>

</div>

<br>

<div class="flex-main-container-for-play">
    <div id="flex-item-for-play-1"></div>
    <div id="flex-item-for-play-2"></div>
    <div id="flex-item-for-play-3"></div>
</div>
<br>

